<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88600842697-66s7q6tmiglt8g6676fsms289rd6j57j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88600842697-66s7q6tmiglt8g6676fsms289rd6j57j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>88600842697-28u83mjcpnt2jtkfre6p8g6f57o2ant7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBK7LRBPujT2-2EcdDEJsV15WkSGX_vMuk</string>
	<key>GCM_SENDER_ID</key>
	<string>88600842697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>app-note-group7</string>
	<key>STORAGE_BUCKET</key>
	<string>app-note-group7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88600842697:ios:da54e311290f7a928fd818</string>
</dict>
</plist>